{% extends 'base.html' %}

{% block head_title_site %}Adam Wright's blog{% endblock %}

{% block head_meta %}
    {{ block.super }}
    <meta name="keywords" content="{% block meta_keywords_content %}{% endblock %}" />
    <meta name="description" content="{% block meta_description_content %}{% endblock %}" />
{% endblock %}

{% block body_element_open %}<body class="blog">{% endblock %}

{% block site_title %}
  <h1>Hipikat's blog</h1>
  <p class="nowrap">(by Adam Wright)</p>
{% endblock %}

{% block body_content %}
  {% for entry in entries %}
    {% include 'rows/blog-entry-summary.html' %}
  {% endfor %}
{% endblock body_content %}
