[submodule "lib/django-revkom"]
	path = lib/django-revkom
	url = git@github.com:hipikat/django-revkom.git
[submodule "lib/zurb-foundation"]
	path = lib/zurb-foundation
	url = git@github.com:zurb/foundation.git
[submodule "lib/compass"]
	path = lib/compass
	url = git@github.com:chriseppstein/compass.git
[submodule "lib/pyScss"]
	path = lib/pyScss
	url = git@github.com:hipikat/pyScss.git
[submodule "lib/kr-sphinx-themes"]
	path = lib/kr-sphinx-themes
	url = git@github.com:hipikat/kr-sphinx-themes.git
[submodule "lib/django"]
	path = lib/django
	url = git@github.com:django/django.git
[submodule "lib/django-hostess"]
	path = lib/django-hostess
	url = git@github.com:hipikat/django-hostess.git
[submodule "lib/django-cinch"]
	path = lib/django-cinch
	url = git@github.com:hipikat/django-cinch.git
