docs/_build
lib/
!lib/zurb-foundation/
!lib/compass/
!lib/tinymce-*
src/static/stylesheets/hipikat.css
src/styles/.sass-cache
src/styles/Gemfile.lock
var/db
var/env/*SECRET*
var/env/DJANGO_SETTINGS_CLASS
