{% extends 'base.html' %}

{% block head_title %}Page not found{% endblock %}

{% block content %}
  <div class="row page">
    <!-- TODO: get those inline styles outta here! -->
    <div class="small-8 small-offset-2 columns" style="margin-top: 3em; text-align: center;">
      <p style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 2em 0; color: black;"><span class="lead-in" style="font-size: 150%; font-weight: 300;">

        404 - Page not found


      </p>
    </div>
  </div>
{% endblock %}
