{# load revkom_tags #}
{% load static %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!-- Conditional <html> classes follow Paul Irish's recommendation circa 2013 -->
<head>
    <title>{% block page_title %}{% if page_title %}{{ page_title }} •
        {% endif %}Hipikat.org{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/hipikat.css' %}" />
    <script src="scripts/modernizr.js"></script>
</head>
<body>

    <div class="row header">
        <div class="large-3 columns site-title">
            <h1>Hipikat.org</h1>
            <p>by Adam Wright</p>
        </div>
        <div class="large-10 columns right" style="">
            <div class="row">
                
            </div>
        </div>
    </div>

    <div class="row page blog-summary">
        <div class="large-9 columns push-3">
            <div class="row">
                <div class="small-12 columns">
                    <h1>Maintaining the system</h1>
                </div>
                <div class="small-8 columns">
                    <p>Typography is an ancient craft and an old profession as well as a constant technological frontier. It is also in some sense a trust. The lexicon of the tribe and the letters of the alphabet - which are the chromosomes and genes of literate culture - are in the typographer's care. Maintaining the system means more than merely buying the newest fonts from digital foundries and the latest updates for typesetting software.</p>
                </div>
                <div class="small-4 columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</p>
                </div>
            </div>
        </div>
        <div class="meta large-3 columns pull-9">
            <p><span class="bullet">&mdash;&mdash; </span>Posted 2013-08-03</p>
            <p>at 7:48pm</p>
        </div>
    </div>

    <div class="row page blog-summary">
        <div class="large-9 columns push-3">
            <div class="row">
                <div class="small-12 columns">
                    <h1>About the design of this site</h1>
                </div>
                <div class="small-8 columns">
                    <p>The font is Roboto, by Christian Robertson, via Google Fonts. It's set with a 3/8ths baseline in a 12-column grid care of Zurb Foundation.</p>
                </div>
                <div class="small-4 columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="meta large-3 columns pull-9">
            <p>Posted 2013-08-03</p>
            <p>at 7:48pm</p>
            <p>with no holds barred</p>
            <p>and no where to run</p>
            <p>no where to turn to</p>
        </div>
    </div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="javascripts/foundation/foundation.js"></script>
    
    <script src="javascripts/foundation/foundation.alerts.js"></script>
    
    <script src="javascripts/foundation/foundation.clearing.js"></script>
    
    <script src="javascripts/foundation/foundation.cookie.js"></script>
    
    <script src="javascripts/foundation/foundation.dropdown.js"></script>
    
    <script src="javascripts/foundation/foundation.forms.js"></script>
    
    <script src="javascripts/foundation/foundation.interchange.js"></script>
    
    <script src="javascripts/foundation/foundation.joyride.js"></script>
    
    <script src="javascripts/foundation/foundation.magellan.js"></script>
    
    <script src="javascripts/foundation/foundation.orbit.js"></script>
    
    <script src="javascripts/foundation/foundation.placeholder.js"></script>
    
    <script src="javascripts/foundation/foundation.reveal.js"></script>
    
    <script src="javascripts/foundation/foundation.section.js"></script>
    
    <script src="javascripts/foundation/foundation.tooltips.js"></script>
    
    <script src="javascripts/foundation/foundation.topbar.js"></script>
    
  
  <script>
    $(document).foundation();
  </script>










</body></html>
