{% load fluent_pages_tags %}
{% load static %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!-- Conditional <html> classes follow Paul Irish's recommendations circa 2013 -->
<head>
    <title>{% block headtitle %}{% if page.title %}{{ page.title }} •
        {% endif %}Hipikat.org{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

<!--<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400italic,500,700,700italic,300|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/hipikat.css' %}" />
    <script src="{% static 'lib/foundation/modernizr.js' %}"></script>
</head>
<body>

    <div class="row head">
        <div class="large-3 columns site-title">
            <h1>Hipikat.org</h1>
            <p style="display: none;">by Adam Wright</p>
        </div>
        <div class="large-8 columns right" style="">
            <div class="row">
                {#% render_menu %#}
            </div>
        </div>
    </div>

    {% block page %}
    {% endblock %}

    <div class="row page">
        <div class="small-12 columns">
            {% block main %}{% endblock %}
        </div>
    </div>




  <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.js" type="text/javascript"></script>
  <script src="{% static 'lib/foundation/foundation.js' %}"></script>
    
  <script>
    $(document).foundation();
  </script>


</body></html>
