{% extends 'base.html' %}
{% load static %}

{% block head_title_separator %}{% endblock %}

{% block content %}
  <div class="row page" style="margin-top: 3em;"">
    <div class="large-7 push-4 columns">
      <div class="epic-hello">
      <p>
        <span class="lead-in">Hello.</span>
        I'm a software developer
        from Perth, <span class="nowrap">Western Australia.</span>
        I'm interested in
        <!--<a href="http://en.wikipedia.org/wiki/Free_software">-->free and
        open source software<!--</a>--> (although I do use a Mac&hellip;)
        and I've spent most of
        my life working on <span class="nowrap">the web.</span>
        </p>

        <!--<p>I'm building this site to blog about open source software projects
        I'm involved in, and as a home for a couple of packages I'm going to
        release in the very <span class="nowrap">near future. :)</span></p>-->

        <!--<p>
        This is my personal website, and there isn't very much here yet.
        </p>-->

        <p>I'm a full-stack kind of guy, but my interest is mostly in
        <a href="http://www.python.org">Python</a>,
        mainly working with <a href="https://www.djangoproject.com">Django</a>.

        This site's code is under a
        <a href="https://github.com/hipikat/hipikat.org/blob/develop/LICENSE">BSD 2-Clause license</a>,
        in case you'd like to
        <a href="http://github.com/hipikat/hipikat.org/">see how it's built</a>
        or reuse any of my work.

        <!--
        I'm using <a href="http://www.feincms.org">feinCMS</a>,
        and the front-end is constructed using
        <a href="http://foundation.zurb.com">Foundation</a>'s
        responsive grid system. Typography components come from
        <a href="http://compass-style.org">Compass</a>, and I use
        <a href="http://sass-lang.com">Sass</a> for all
        <span class="nowrap">the styles.</span></p>
        -->
      </p>
      </div>
      <!--<p>Hi i'm a normal paragraph.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit eu turpis tempor varius. Suspendisse sollicitudin libero consectetur lacinia rutrum. Suspendisse cursus felis et tortor egestas faucibus lobortis vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi orci, dictum ac sem sit amet, luctus bibendum dui. Donec a consectetur ipsum. Morbi rhoncus sit amet lacus vitae interdum. Nullam et nibh imperdiet, molestie nunc eu, malesuada diam. Suspendisse egestas quam a est cursus, a consequat nulla dapibus. Mauris mollis odio lectus, et accumsan sem tincidunt et. Aliquam mollis sed magna at interdum. Aliquam commodo erat nec varius euismod. Nunc laoreet purus sit amet risus venenatis tincidunt.
        </p>-->
      <div class="activity-items">
      {% for activity in activities %}
        {% if forloop.counter <= SITE_MAX_RECENT_ACTIVITY_ITEMS %}
          {% include 'rows/activity-item.html' %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="large-3 pull-9 columns vanity-links">
      <div class="portrait"><img src="{% static "images/adam-wright.jpg"  %}"></div>
      <!--<h2>Roughly in order <span class="nowrap">of use&hellip;</span></h2>-->
      <ul>
        <li><a href="https://github.com/hipikat">GitHub <i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/hipikat">Twitter <i class="fa fa-twitter"></i></a></li>
    <!--<li><a href="http://twitter.com/chipikat">Secret furry Twitter <i class="fa fa-twitter"></i></a></li>-->
        <li><a href="http://twitter.com/pypikat">Dev Twitter <i class="fa fa-twitter"></i></a></li>
        <li><a href="http://www.last.fm/user/hipikat">Last.fm <i class="fa fa-headphones"></i></a></li>
        <li><a href="https://delicious.com/hipikat">Delicious <i class="fa fa-bookmark"></i></a></li>
        <li><a href="https://foursquare.com/hipikat">Foursquare <i class="fa fa-foursquare"></i></a></li>
        <li><a href="http://facebook.com/hipikat">Facebook <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://plus.google.com/u/0/104391941295567501470">Google+ <i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://alpha.app.net/hipikat">App.net <i class="fa fa-adn"></i></a></li>
    <!--<li><a href="https://www.goodreads.com/user/show/4249518-adam-wright">Goodreads <i class="fa fa-book"></i></a></li>-->
        <li><a href="https://kindle.amazon.com/profile/Hipikat/2511498">Kindle <i class="fa fa-book"></i></a></li>
    <!--<li><a href="http://www.kickstarter.com/profile/hipikat">Kickstarter <i class="fa fa-dollar"></i></a></li>-->
    <!--<li><a href="http://www.youtube.com/hipikat">YouTube <i class="fa fa-youtube"></i></a></li>-->
        <li><a href="https://people.djangoproject.com/hipikat/">Django People <i class="fa fa-users"></i></a></li>
        <li><a href="https://coderwall.com/hipikat">Coderwall <i class="fa fa-code"></i></a></li>
        <li><a href="http://stackoverflow.com/users/218397">Stack Overflow <i class="fa fa-stack-overflow"></i></a></li>
        <li><a href="http://www.linkedin.com/in/adamjwright">LinkedIn <i class="fa fa-linkedin"></i></a></li>
    <!--<li><a href="http://www.youtube.com/hipikat">YouTube <i class="fa fa-youtube"></i></a></li>-->
    <!--<li><a href="http://about.me/hipikat">About.me <i class="fa fa-info-circle"></i></a></li>-->
    <!--<li><a href="http://www.amazon.com/wishlist/IPAMLEKO8CZO/ref=reg_hu-wl_goto-registry?_encoding=UTF8&sort=date-added">Amazon Wishlist <i class="fa fa-gift"></i></a></li>-->
        <li class="email"><span class="alt">or, like&hellip;</span> <a href="mailto:adam@hipikat.org">adam@hipikat.org <i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
{% endblock content %}

{% block footer_cols_class %} large-7 push-4 columns{% endblock %}
