{% extends 'base.html' %}

{% block page %}
  <div class="row page">
    <div class="small-8 small-offset-2 columns" style="margin-top: 3em;">
      <p style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 2em 0; color: black;"><span class="lead-in" style="font-size: 150%; font-weight: 300;">
        Hello.</span> I'm Adam Wright,
        a web developer
        from Perth, Western Australia.
        <!--For more context, there's an
        <a href="about/">about page</a>.-->
        This site is an unruly aggregate of stuff
        I've shared with the world.
        It's open source, under an
        <a href="todo">MIT license</a>,
        if you'd like to
        <a href="http://github.com/hipikat/hipikat.org/">see how it's built</a>
        or reuse any of my work.
      <!--
        I'm a 32-year-old male, who enjoys working with
        <a href="http://python.org">Python</a> and
        <a href="http://djangoproject.com">Django</a>.
        I enjoy <a href="https://en.wikipedia.org/wiki/Go_(game)">go</a>,
        although I'm only a high single-digit kyu at best. 
      -->

      </p>
    </div>
  </div>
{% endblock %}
