
.epic-hello
    border-top: 1px solid #cccccc
    border-bottom: 1px solid #cccccc
    color: black
    padding: 2em 2em
    .lead-in
        font-size: 160%
        font-weight: 300
    @media #{$small}
        padding: 2em 0
        margin: 0 $column-gutter/2 2em
        

.vanity-links
    text-align: center
    .portrait
        text-align: center
        margin: 3em 1em
        @media #{$small}
            margin: 0
        img
            @media #{$small}
                width: 100%
                padding-left: 30%
    h2
        font-size: $small-font-size
    ul
        padding-left: 0
        list-style-type: none
        li
            white-space: nowrap
            display: inline
            //margin-left: 3em
            margin: 0 1.5em
            line-height: $base-line-height * 2
        @media #{$small}
            li
                line-height: $base-line-height 
                display: block
                margin: 0
    a
        text-decoration: none
    a:hover
        text-decoration: underline
    i
        width: 1.2em
    .email
        //+margin-leader(0, $base-font-size)
        .alt
            font-size: $small-font-size
            font-family: "Roboto Slab", sans-serif
            @media #{$small}
                display: block
    @media #{$small}
        text-align: right

body.blog.archive
    .row.blog.entry
        // TODO: Create function demote-heading-levels (or something)
        h1
            +h2-style
        h2
            +h3-style
        h3
            +h4-style
        h4
            +h5-style

.blog-summary,
.blog-detail,
.blog-entry,
.blog.entry,
body.blog.post
    .sidenote
        font-family: $high-font-family
        +medium-rhythmic
    h1
        padding-right: 0.5em
    .meta
        font-family: $high-font-family, sans-serif
        p
            +small-rhythmic
            display: inline
            //padding: ($meta-p-rhythm * (1-$meta-p-offset)) 0 ($meta-p-rhythm * $meta-p-offset) 0;
    @media #{$small}
        .meta
            +margin-leader(3)
            text-align: right
            p
                display: block
                white-space: nowrap
            .bullet
                display: none
    div.read-more-link
        font-family: $high-font-family, sans-serif
        text-align: right
        margin-right: 12%

body.blog.post
    .row.blog.entry
        // TODO: Fix up...
        //margin-top: 2em
        +margin-leader(2, $base-font-size)

.blog
    .pagination
        +margin-leader(3, $base-font-size)
