/* Top-level stylesheet (source) for pages under http://hipikat.org/
 * 
 * TODO:UPDATE This layout currently relies on the inclusion of a sub-set of faces
 * from Roboto, on Google Fonts. The current selection is at:
 * http://www.google.com/fonts#UsePlace:use/Collection:Roboto+Condensed:400,700|Roboto:400,400italic,500,700,700italic,300|Roboto+Slab:400,700


// Required global Foundation settings
@import settings

// Use Foundation's customised normalize sheets
@import normalize

/* Zurb Foundation's global settings file is a big-ass list of
 * commented-out defaults - set any we customise here for readability
 * and keep the settings mixin file on hand as a reference.

// Foundation variables
$base-font-size: 16px
$base-line-height: $base-font-size * (1 + 3/8)
$small-font-size: $base-font-size * 0.8
$em-base: $base-font-size

// Grid variables
$row-width: none
$column-gutter: em-calc(36)

// Typography variables
$body-font-family: 'Chronicle Text G1 A', 'Chronicle Text G1 B'
$high-font-family: 'Verlag A', 'Verlag B'
$low-font-family: 'Verlag Cond A', 'Verlag Cond B'

$body-text-color: #404040
$body-background-color: #f1f1f1
$h1-font-size: $base-font-size * (2 + 1/3)
$h2-font-size: $base-font-size * (2)
$h3-font-size: $base-font-size * (1 + 2/3)
$h4-font-size: $base-font-size * (1 + 1/3)
$h5-font-size: $base-font-size * (1 + 1/9)
$h6-font-size: $h5-font-size

// Mobile adjustments
$mobile-font-size: $base-font-size * (7/8)
$mobile-reduction: (5/12)
$mobile-paragraph-reduction: $mobile-reduction
$mobile-heading-reduction: $mobile-reduction
$mobile-heading-leading: (1/8)

// Style shortcuts
.nowrap
    white-space: nowrap

// Compass does most of our typographic heavy lifting
@import compass

// Import Foundation components
@import components

// Custom helper functions and mixins for this project
@import helpers

// Set font-size and line-height on ``html`` and ``* html``
+establish-baseline

// Stepped body margins
$first-breakpoint: 340px
$prev-breakpoint: $first-breakpoint
$body-padding: 0px
$max-breakpoint: 3072px

@while $prev-breakpoint < $small-screen
    @media only screen and (min-width: $prev-breakpoint + 1)
        body
            padding: 0 $body-padding
    $addition: $prev-breakpoint / 4
    $prev-breakpoint: $prev-breakpoint + floor($addition)
    $body-padding: floor(($prev-breakpoint - $first-breakpoint) / 2) * $prev-breakpoint / 1.66667 / $max-breakpoint

$body-padding: 0
$prev-breakpoint: $small-screen - 1

@while $prev-breakpoint < $max-breakpoint
    @media only screen and (min-width: $prev-breakpoint + 1)
        body
            padding: 0 $body-padding
    $addition: $prev-breakpoint / 4
    $prev-breakpoint: $prev-breakpoint + floor($addition)
    $body-padding: floor(($prev-breakpoint - $small-screen) / 2) * $prev-breakpoint / $max-breakpoint

// Debug grid system
//.row
//    border-top: 1px solid green
//    border-bottom: 1px solid green
//.columns
//    border: 1px solid orange
//    margin-top: -2px

// Typography
@mixin small-rhythmic
    $meta-p-rhythm: rhythm(1, $small-font-size)
    $meta-p-offset: 11 / 12
    +adjust-font-size-to($small-font-size)
    margin: 0

body
    color: $body-text-color
    background-color: $body-background-color
    font-family: $body-font-family, sans-serif
    font-weight: 400
    font-style: normal
    line-height: $base-line-height
    // Debug vertical rhythm
    //@include debug-vertical-alignment

.invisible
    color: $body-background-color

@function mobile-heading-reducer($font-size, $reduction: $mobile-heading-reduction)
    $original-increase: $font-size - $mobile-font-size
    $new-increase: $original-increase * $reduction
    @return $mobile-font-size + $new-increase

=adjust-mobile-heading($font-size)
    $reduced-font-size: mobile-heading-reducer($font-size)
    +adjust-font-size-to($reduced-font-size)
    line-height: $reduced-font-size * (1 + $mobile-heading-leading)

h1
    color: #202020
    font-family: $high-font-family, sans-serif
    font-weight: 800
    +adjust-mobile-heading($h1-font-size)
    @media #{$small}
        +font-with-margins($h1-font-size, 0.625, 2)
h2
    color: #303030
    font-family: $high-font-family, sans-serif
    font-weight: 700
    //letter-spacing: -0.375px
    +adjust-mobile-heading($h2-font-size)
    @media #{$small}
        +font-with-margins($h2-font-size, 0.65, 2)
h3
    font-weight: 400
    font-family: $high-font-family, sans-serif
    //letter-spacing: 0.375px
    +adjust-mobile-heading($h3-font-size)
    @media #{$small}
        +font-with-margins($h3-font-size, 0.7, 2)
h4
    font-family: $high-font-family, sans-serif
    +font-with-margins($h4-font-size, 0.7, 2)
    font-weight: 400
    +adjust-font-size-to($base-font-size)
    @media #{$small}
        +font-with-margins($h4-font-size, 0.7, 2)
        font-weight: normal
h5, h6
    font-family: $low-font-family, sans-serif
    +font-with-margins($h5-font-size, 0.7, 2)
    font-weight: 400
    font-style: normal
    //letter-spacing: 0.375px
    +adjust-font-size-to($base-font-size)
    @media #{$small}
        font-weight: 700
        +adjust-font-size-to($h5-font-size)
        margin-top: 0
        +margin-trailer(1, $base-font-size)
        font-weight: normal
p
    +adjust-font-size-to($mobile-font-size)
    margin: 0
    +margin-trailer(1, $mobile-font-size)
    @media #{$small}
        +adjust-font-size-to($base-font-size)
        +margin-trailer(1, $base-font-size)


$link-color: #1289B8
$dark-link-color: #076083

a
    text-decoration: none
    color: $link-color
    // Font Awesome
    i.fa
        color: $dark-link-color
a:hover
    text-decoration: underline 

// Page header
.head
    .menu
        padding-top: 1em
        font-family: $high-font-family, sans-serif
        ul
            margin: 0
            padding: 0
            list-style-type: none
        li
            display: inline-block
            width: 20%
            a
                text-decoration: none
            a:hover
                text-decoration: underline
    .site-title
        margin-top: 0.125em
        h1, p
            font-family: $high-font-family, sans-serif
            +small-rhythmic
            display: inline
            //@media #{$small}
            //    display: block
        h1
            //margin: 0
            //font-family: $body-font-family, sans-serif
            font-weight: 400
            //letter-spacing: 0.025em
            //font-size: $base-font-size * (1 + 1/3)
            //line-height: $base-font-size * (1 + 1/3)
            //font-size: $base-font-size
            a
                //color: $dark-link-color
                text-decoration: none
            a:hover
                text-decoration: underline
        @media #{$small}
            text-align: right
            //h1
                //font-size: $base-font-size * (1 + 2/3)
                //font-size: $base-font-size
//body.blog
//    .head .site-title
//        //h1
//        //    font-size: $base-font-size * (1 + 3/12)
//        p
//            //margin-right: 0.35em
//            margin-top: 0.3em


// Main page body
.page
    .note p
        +adjust-font-size-to($small-font-size)

// Page footer
.foot
    margin-top: 5em
    p
        font-size: $small-font-size
        font-family: $high-font-family, sans-serif

@import pages
