Django==1.6.2
#Jinja2==2.7.2
Pillow==2.2.1
Pygments==1.6
South==0.8.4
Sphinx==1.2.2
Werkzeug==0.9.4
django-debug-toolbar==1.0.1
django-extensions==1.2.5
django-hosts==0.6
django-model-utils==2.0.2
#django-mptt==0.6.0
docutils==0.11
#ecdsa==0.11
fabtools==0.17.0
#factory-boy==2.2.1
#fake-factory==0.3.2
paramiko==1.13.0
psycopg2==2.5.2
six==1.6.1
wsgiref==0.1.2
yolk==0.4.3

# Installed as dependencies of other packages...
# Jinja2==2.7.1
# MarkupSafe==0.18
# docutils==0.11
# ecdsa==0.10
# paramiko==1.12.0
# pycrypto==2.6.1
# six==1.4.1
# sqlparse==0.1.10
# wsgiref==0.1.2
