-e git+https://github.com/django/django.git@64cdea68e71829905da6374a066d1700375255ec#egg=Django-dev
Fabric==1.6.1
GitPython==0.3.2.RC1
Jinja2==2.7
MarkupSafe==0.18
Pygments==1.6
South==0.8.1
Sphinx==1.2b1
Unipath==1.0
argparse==1.2.1
async==0.6.1
django-allauth==0.11.1
django-categories==1.2.1
django-crispy-forms==1.3.1
django-extensions==1.1.1
django-fluent-blogs==0.9.4
django-fluent-contents==0.9a1
django-mptt==0.5.5
django-polymorphic==0.5
django-tag-parser==1.0.0
django-taggit==0.10a1
django-taggit-autocomplete-modified==0.1.0b4
django-template-analyzer==1.1.0
django-wysiwyg==0.5.1
docutils==0.10
gitdb==0.5.4
gitflow==0.5.1
paramiko==1.10.1
psycopg2==2.5
pycrypto==2.6
python-memcached==1.53
selenium==2.33.0
six==1.3.0
smmap==0.8.2
wsgiref==0.1.2
