{% extends 'rows/blog-post.html' %}

{% block entry_content_inner %}
  {% if entry.excerpt %}
    {{ entry.excerpt|safe }}
  {% else %}
    <p>No excerpt.</p>
  {% endif %}
  <div class="read-more-link">
    <a href="{{ entry.get_absolute_url }}">read more&hellip;</a>
  </div>
{% endblock %}

{# block sidenote_class %}{{ block.super }}" style=""{% endblock #}

{% block sidenote_inner %}
  {% include 'elephantblog/_category_list.html' %}
{% endblock sidenote_inner %}

{% block entry_meta_extras %}{% endblock %}
