<div class="row page blog-summary">
    <div class="large-9 push-3 columns">
        <div class="row">
            <div class="small-12 columns title">
                <h1>{{ entry.title }}</h1>
            </div>
            <div class="small-12 large-8 columns content">
                <p>{{ entry.summary }}</p>
            </div>
            <div class="small-11 small-offset-1 large-4 large-offset-0 columns note">
                {{ entry.notes }}
            </div>
        </div>
    </div>
    <div class="meta large-3 columns pull-9">
        <p><span class="bullet">&mdash; </span>{{ entry.published_date }}</p>
        <p>{{ entry.published_time }}</p>
    </div>
</div>

