
{% block blog_post %}
    <div class="row page blog entry">
        <div class="large-9 push-3 columns">
            <div class="row">
                <div class="small-12 columns title">
                    <h1><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></h1>
                </div>
                {% block entry_content_columns %}
                <div class="small-12 large-8 columns content">
                  {% block entry_content_inner %}
                    {# if entry.first_richtext %}{{ entry.first_richtext.render }}{% endif #}
                    {% for content in entry.content.main %}
                      {{ content.render }}
                    {% empty %}
                      <p>No content.</p>
                    {% endfor %}
                  {% endblock %}
                </div>
                {% block entry_notes_outer %}
                <div class="small-11 small-offset-1 large-4 large-offset-0 columns note">
                    <ul class="{% block sidenote_class %}sidenote{% endblock %}"><li>
                      {% block sidenote_inner %}
                        <!--Hello I am a typical sidenote.
                    I'm rendered in a condensed font to save on space, but
                    I'm sitll the $body-font-size, so I'm quite legible.-->
                      {% endblock %}
                    </li></ul>
                </div>
                {% endblock entry_notes_outer%}
                {% endblock entry_content_columns %}
            </div>
        </div>
        <div class="meta large-3 columns pull-9">
            <p><span class="bullet">&mdash; </span>
                Posted {{ entry.published_on|date:"Y-m-d" }}</p>
            <p>at {{ entry.published_on|time:"g:i A" }}</p>
            <!--<p>(+0800)</p>-->

            {% block entry_meta_extras %}
                {% include 'elephantblog/_category_list.html' %}
                {# raise_exception #}
            {% endblock %}
        </div>
    </div>
{% endblock %}
