{% extends 'base.html' %}

{% block page %}
  <div class="row page">
    <div class="small-8 small-offset-2 columns" style="margin-top: 3em;">
      <p style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 2em 0; color: black;"><span class="lead-in" style="font-size: 150%; font-weight: 300;">
        Error page goes here okay?
      <!--
        I'm a 32-year-old male, who enjoys working with
        <a href="http://python.org">Python</a> and
        <a href="http://djangoproject.com">Django</a>.
        I enjoy <a href="https://en.wikipedia.org/wiki/Go_(game)">go</a>,
        although I'm only a high single-digit kyu at best. 
      -->

      </p>
    </div>
  </div>
{% endblock %}
