{% extends 'base.html' %}

{% block head_title_separator %}{% endblock %}

{% block content %}

  <div class="row page" style="margin-top: 3em;"">
    <div class="large-7 push-4 columns epic-hello">
      <p>
        <span class="lead-in" style="font-size: 150%; font-weight: 300;">Hello.</span>
        I'm a web developer
        from Perth, <span class="nowrap">Western Australia.</span></p>

        <!--For more context, there's an
        <a href="about/">about page</a>.-->

        <!--This site is an unruly aggregate of stuff
        I've shared with the world.-->

        <p>I'm building this site to blog about open source software projects
        I'm involved in, and as a home for a couple of packages I'm going to
        release in the very <span class="nowrap">near future. :)</span></p>

        <p>My interest is mostly in <a href="http://www.python.org">Python</a>,
        mainly working with <a href="https://www.djangoproject.com">Django</a>.

        This site's code is under a
        <a href="https://github.com/hipikat/hipikat.org/blob/develop/LICENSE">BSD 2-Clause license</a>,
        in case you'd like to
        <a href="http://github.com/hipikat/hipikat.org/">see how it's built</a>
        or reuse any of my work.

        I'm using
        the most excellent <a href="http://www.feincms.org">feinCMS</a>,
        and the front-end is constructed using <a href="http://foundation.zurb.com">Foundation</a>'s
        responsive grid system, with <a href="http://sass-lang.com">Sass</a>
        <span class="nowrap">for style.</span></p>
        

      <!--
        I'm a 32-year-old male, who enjoys working with
        <a href="http://python.org">Python</a> and
        <a href="http://djangoproject.com">Django</a>.
        I enjoy <a href="https://en.wikipedia.org/wiki/Go_(game)">go</a>,
        although I'm only a high single-digit kyu at best. 
      -->

      </p>
    </div>
    <div class="large-3 pull-9 columns vanity-links">
      <h2>Roughly in order <span class="nowrap">of use&hellip;</span></h2>
      <ul>
        <li><a href="http://twitter.com/hipikat">Twitter <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/hipikat">GitHub <i class="fa fa-github"></i></a></li>
    <!--<li><a href="http://twitter.com/chipikat">Secret Twitter <i class="fa fa-twitter"></i></a></li>-->
        <li><a href="http://twitter.com/pypikat">Dev Twitter <i class="fa fa-twitter"></i></a></li>
        <li><a href="http://www.last.fm/user/hipikat">Last.fm <i class="fa fa-music"></i></a></li>
        <li><a href="https://foursquare.com/hipikat">Foursquare <i class="fa fa-foursquare"></i></a></li>
        <li><a href="http://facebook.com/hipikat">Facebook <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://alpha.app.net/hipikat">App.net <i class="fa fa-adn"></i></a></li>
        <li><a href="https://kindle.amazon.com/profile/Hipikat/2511498">Kindle <i class="fa fa-book"></i></a></li>
        <li><a href="http://stackoverflow.com/users/218397">Stack Overflow <i class="fa fa-stack-overflow"></i></a></li>
        <li><a href="http://www.linkedin.com/in/adamjwright">LinkedIn <i class="fa fa-linkedin"></i></a></li>
        <li class="email"><span class="alt">or, like&hellip;</span><br /><a href="mailto:adam@hipikat.org">adam@hipikat.org <i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>

{% endblock content %}
