{# load revkom_tags #}
{% load static %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!-- Conditional <html> classes follow Paul Irish's recommendation circa 2013 -->
<head>
    <title>{% block page_title %}{% if page_title %}{{ page_title }} •
        {% endif %}Hipikat.org{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
<!--<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400italic,500,700,700italic,300|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/hipikat.css' %}" />
    <script src="scripts/modernizr.js"></script>
</head>
<body>

    <div class="row head">
        <div class="large-3 columns site-title">
            <h1>Hipikat.org</h1>
            <p style="display: none;">by Adam Wright</p>
        </div>
        <div class="large-10 columns right" style="">
            <div class="row">
                
            </div>
        </div>
    </div>

    {% block page %}
    {% endblock %}

    <div class="row page blog-summary">
        <div class="large-9 push-3 columns">
            <div class="row">
                <div class="small-12 columns title">
                    <h1>Maintaining the system</h1>
                </div>
                <div class="small-12 large-8 columns content">
                    <p>Typography is an ancient craft and an old profession as well as a constant technological frontier. It is also in some sense a trust. The lexicon of the tribe and the letters of the alphabet - which are the chromosomes and genes of literate culture - are in the typographer's care. Maintaining the system means more than merely buying the newest fonts from digital foundries and the latest updates for typesetting software.</p>
                </div>
                <div class="small-11 small-offset-1 large-4 large-offset-0 columns note">
                    <p>This is a footnote. Or rather a side-note. I guess it depends on your device?</p>
                    <p>Next step: use JavaScript to line these up with their relevant paragraphs</p>
                </div>
            </div>
        </div>
        <div class="meta large-3 columns pull-9">
            <p><span class="bullet">&mdash; </span>Posted 2013-08-03</p>
            <p>at 7:48pm</p>
        </div>
    </div>


    <div class="row page blog-summary">
        <div class="large-9 columns push-3">
            <div class="row">
                <div class="small-12 columns">
                    <h1>About the design of this site</h1>
                </div>
                <div class="small-8 columns">
                    <p>The font is Roboto, by Christian Robertson, via Google Fonts. It's set with a 3/8ths baseline in a 12-column grid care of Zurb Foundation.</p>
                    <h2>This is a second-level heading</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit eu turpis tempor varius. Suspendisse sollicitudin libero consectetur lacinia rutrum. Suspendisse cursus felis et tortor egestas faucibus lobortis vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi orci, dictum ac sem sit amet, luctus bibendum dui.</p>
                    <h3>Heading level, the third</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit eu turpis tempor varius. Suspendisse sollicitudin libero consectetur lacinia rutrum. Suspendisse cursus felis et tortor egestas faucibus lobortis vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi orci, dictum ac sem sit amet, luctus bibendum dui.</p>
                    <h4>A fourth-level heading is me</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit eu turpis tempor varius. Suspendisse sollicitudin libero consectetur lacinia rutrum. Suspendisse cursus felis et tortor egestas faucibus lobortis vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi orci, dictum ac sem sit amet, luctus bibendum dui.</p>
                    <h5>Five heading levels: often too many</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit eu turpis tempor varius. Suspendisse sollicitudin libero consectetur lacinia rutrum. Suspendisse cursus felis et tortor egestas faucibus lobortis vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi orci, dictum ac sem sit amet, luctus bibendum dui.</p>
                    <h6>The sixth, and hardest to say, heading level</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit eu turpis tempor varius. Suspendisse sollicitudin libero consectetur lacinia rutrum. Suspendisse cursus felis et tortor egestas faucibus lobortis vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse mi orci, dictum ac sem sit amet, luctus bibendum dui.</p>
                </div>
                <div class="small-4 columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="meta large-3 columns pull-9">
            <p>Posted 2013-08-03</p>
            <p>at 7:48pm</p>
            <p>with no holds barred</p>
            <p>and no where to run</p>
            <p>no where to turn to</p>
        </div>
    </div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{% static 'zurb/vendor/zepto' %}' : '{% static 'zurb/vendor/jquery' %}') +
  '.js><\/script>')
  </script>
  
  <script src="{% static 'zurb/foundation/foundation.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.alerts.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.clearing.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.cookie.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.dropdown.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.forms.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.interchange.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.joyride.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.magellan.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.orbit.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.placeholder.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.reveal.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.section.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.tooltips.js' %}"></script>
    
    <script src="{% static 'zurb/foundation/foundation.topbar.js' %}"></script>
    
  
  <script>
    $(document).foundation();
  </script>










</body></html>
