{% extends "base.html" %}


{% block head_title %}{% block title %}{% endblock %}{% endblock %}


{% block app_meta %}
  <!--start block fluent_blogs/base.html:app_meta-->

  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
  <meta name="description" content="{% block meta-description %}{% endblock %}" />
  <meta property="og:type" content="{% block og-type %}website{% endblock %}" />
  <meta property="og:description" content="{% block og-description %}{% endblock %}" />

  {# Links for RSS feed consumers #}
  {% block link %}{% endblock %}

  {# JavaScript for AJAX comments #} 
  {% block script %}{% endblock %}

  <!--end block fluent_blogs/base.html:app_meta-->
{% endblock %}


{% block main %}
  <!--start block fluent_blogs/base.html:main-->

  {# Blog archives and detail block #}
  {% block content %}{% endblock %}

  {# Add any common layout, e.g. a sidebar here #}

  <!--end block fluent_blogs/base.html:main-->
{% endblock %}
